:root {
    --main-background-color: #FEE9FF;
    --main-text-color: #030303;
    --secondary-text-color: #92929D;
    --purple-accent: #7B1D80;
    --section-background-text-color: #FCFCFC;
    --navbar-color: #fff;
    --box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
    --border-bottom: 1px solid var(--main-background-color);
    --border-radius: 12px;
    --padding: 60px 104px;
    --margin-left: 10px;
    --transation: 0.4s;
    --padding-inputs: 8px;
    --border-input: 8px !important
}

.fa-bars-staggered,
.fa-x {
    font-size: 1.6em !important;
}

.navbar {
    background-color: var(--navbar-color) !important;
    border-bottom: var(--border-bottom) !important;
    box-shadow: var(--box-shadow) !important;
    width: 100%;
}

.navbar-brand img {
    width: 200.889px !important;
    height: 60px !important;
}

.nav-item a {
    color: var(--main-text-color) !important;
}

.nav-item .nav-link {
    margin-left: var(--margin-left) !important;
    transition: var(--transation) !important;
}

.nav-item .nav-link:hover {
    background-color: var(--purple-accent) !important;
    color: var(--section-background-text-color) !important;
    border-radius: var(--border-radius) !important
}

.dropdown-menu {
    border-radius: 10px;
    border: 1px solid #92929D;
    box-shadow: var(--box-shadow);
    padding: 24px;
    width: 457px;

}

.dropdown-item {
    padding: 12px;
    transition: var(--transation);
    border: 1px solid var(--main-text-color) !important;
    background: var(--navbar-color) !important;
    margin-bottom: var(--margin-left);
    border-radius: var(--border-radius) !important;
    width: 100%;

}

.dropdown-item:hover {
    color: var(--purple-accent) !important;
    border: 1px solid var(--purple-accent) !important;
    background: rgba(123, 29, 128, 0.10) !important;
    border-radius: var(--border-radius) !important;
    display: block;
}

.fa-regular,
.dropdown-item img,
.fa-people-group {
    border-radius: var(--border-input);
    border: 1px solid var(--secondary-text-color);
    padding: 12px;
}

.dropdown-item span {
    padding: 12px !important;
    padding-right: 120px !important;

}

.fa-arrow-right {
    display: none;
    border-radius: 54px;
    border: 1px solid var(--purple-accent);
    padding: 8px;
    text-align: center !important;
}

.dropdown-item:hover .fa-arrow-right {
    display: inline;
}

.form-inline input {
    border: 1px solid var(--purple-accent) !important;
    outline: none !important;
    padding: var(--padding-inputs) !important;
    border-radius: var(--border-input) !important;


}

::placeholder {
    color: var(--secondary-text-color) !important;
}

.fa-search {
    position: absolute;
    top: 50%;
    right: 220px;
    transform: translateY(-50%);
    color: var(--purple-accent) !important;
}

.btn {
    color: var(--purple-Accent, #7B1D80);
    text-align: right;
    font-family: Cairo;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--navbar-color);
    border: 1px solid var(--purple-accent) !important;
    outline: none !important;
    border-radius: var(--border-input) !important;

}

@media screen and (max-width:600px) {

    .nav-item,
    .form-inline {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .nav-link {
        width: 50%;
        text-align: center;

    }

    .fa-search {
        display: none !important;
    }

    ::placeholder {
        text-align: center !important;
    }

    .btn {
        display: none;
    }
    .dropdown-menu {
        width: 257px;
    }
    .dropdown-item{
        font-size: 0.5rem !important;
    }

}
